<form [formGroup]="customizeFG" (ngSubmit)="save()">
  <div fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>min</mat-label>
      <input matInput formControlName="min">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>max</mat-label>
      <input matInput formControlName="max">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>step</mat-label>
      <input matInput formControlName="step">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Label</mat-label>
      <input matInput formControlName="label">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Placeholder</mat-label>
      <input matInput formControlName="placeholder">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="5px">
      <button mat-raised-button color="warn" fxFlex type="button" mat-dialog-close="">DISMISS</button>
      <button mat-raised-button color="primary" fxFlex type="submit">SAVE</button>
    </div>

  </div>
</form>
